/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #0C1323;
     border: 2px solid red;

}
header {
     border: 2px solid red;
     
}
ul{
     list-style: none;
}
a{
     text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav{
     display: flex;
     align-items: center;
}
header nav > span#logo{
     flex-basis: 5%;
     margin-right: 25%;

}
header nav > span + ul{
     flex-basis: 100%;
}
header nav ul{
     display: flex;
     justify-content: space-around;    
}

header nav ul li{
     border: 2px solid red;
}


/* The Main Section */
main{
     display: flex;
     justify-content: space-around;
}
main > section, main > img{
     border: 2px solid red;
}
main > section{
     display: flex;
     flex-direction: column;
}
main > section h1,p,span{
     border: 2px solid red;
}
main > section p,main > section h1{
     text-transform: capitalize;
     width: 70%;
}
main > section h1{
     width: 50%;
     font-size:2rem ;
}
main > section span + span{
     float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width:520px){
     header nav span#logo{
          /* logo setting */
     }
     header nav ul{
          display: none;
     }
}