/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #0C1323;
     border: 2px solid red;

}
header {
     border: 2px solid red;
     
}
ul{
     list-style: none;
}
a{
     text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav{
     display: flex;
     align-items: center;
}
header nav > span#logo{
     flex-basis: 5%;
     margin-right: 25%;

}
header nav > span + ul{
     flex-basis: 100%;
}
header nav ul{
     display: flex;
     justify-content: space-around;
     
}

header nav ul li{
     border: 2px solid red;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width:520px){
     header nav span#logo{
          display: block;
     }
     header nav ul{
          display: none;
     }
}