/* Box Model Hack */
* {
     box-sizing: border-box;
     
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     /* background-color: #0C1323; */
     /* border: 2px solid red; */
     background-color: #F8F9FB;

}
header {
     /* border: 2px solid red; */
     
}
ul{
     list-style: none;
}
a{
     text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

header nav{
     display: flex;
     align-items: center;
     height: 5rem;
}
header nav > span#logo{
     flex-basis: 5%;
     margin-right: 25%;

}
header nav > span + ul{
     flex-basis: 100%;
}
header nav ul{
     display: flex;
     justify-content: space-around;    
}

header nav ul li{
     /* border: 2px solid red; */
}
header, main{
     background-color: #0C1323;
}


/* The Main Section */
main{
     display: flex;
     justify-content: space-around;
    
}
main > section, main > img{
     /* border: 2px solid red; */
}
main > section{
     display: flex;
     flex-direction: column;
     font-size: xx-large;
     
}
main > section h1,p,span{
     /* border: 2px solid red; */
}
main > section p,main > section h1{
     text-transform: capitalize;
     width: 70%;
}
main > section h1{
     width: 50%;
     font-size:3rem ;
}
main > section span#span-container span{
     text-transform: uppercase;
}
main > section span#span-container span:first-child{
    background-color:#EFF0F4;
    color: #646B77;
    font-weight: bolder;
    padding: 10px;
    margin-right: 10%;
    border-radius: 9%;
    font-size: larger;
}

/* social media section */
main + section{
     color: black;
     height: 100px;
}
main + section > ul{
     display: flex;
     justify-content: end;
     gap:8%;
     margin-right: 5rem;
     font-size: larger;
     
}

main + section + section > section{
     border: 5px solid green;
}

main + section + section, main + section + section + section{
     border: 10px solid ;
     display: flex;
     justify-content: space-around;
}
main + section + section section:first-child{
     flex-basis: 40vw;
}
main + section + section section:first-child h2{
     width: 54%;
     text-transform: uppercase;
     font-size:2rem ;
}
main + section + section section:first-child p{
     width: 60%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width:520px){
     header nav span#logo{
          /* logo setting */
     }
     header nav ul{
          display: none;
     }
}